/*
CSS rules
selector {
	property:  value;
}
*/
/*Type selector*/
/*tag name >> specified tag*/
h1 {
/*1 rem = 32px*/
	color: darkred;
	text-align: center;
	font-size: 2rem;

}

/*universal selector. targets all elements*/
* {
	font-family: monospace;
	font-size: 40px;
}
#zuitt {
	color: green;
	letter-spacing: 10px;
}
.offeringItem {

	color: skyblue;
	text-transform: uppercase;
}
/*text transform changes the case*/

input[required] {

border-width: 2px;
border-style: solid;
border-color: red;


}
h3 + img{

	height: 300px;
	border-radius: 50%;
}
#bootCampLearningList li {

	color: #31572C;
}
/*general sibling selector
selector ~ selector*/

h2 ~ a {
	text-decoration: none;
}
/*child selector*/
/*selector > selector*/
body > section > form > label {

	color:  rgb(0,0,128);

}

/*more styling*/
body {

	background-color: skyblue;
}

html {

	scroll-behavior: smooth;
}

nav {

	background-color: white;

}

a:hover {

	background-color: #b4d6de;
}
div {

	display: inline-block;
	float: right;

}
/*landing section*/
section {

height: 100vh;
text-align: center;

}
h2 {

font-size: 1.5rem;

}
ol {
	list-style-type: none;
}
/*register section
*/
form {

	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 400px;
	width: 40vw;
	position: relative;
	left: 30%;


}
button {
	background-color: blue;
	border-radius: 10px;
}