
#p3 {

	font-family: monospace;
	font-size: 200%;
	color: aquamarine;

}

* {
	font-family: monospace;
	font-size: 20px;
}
h1 {

	font-size: 50px;
}
#uppercase {

	text-transform: uppercase;

}
.languages {

	background-color: green;
	height: 30px;
	width: 100vw;

}

.tools {

	border: 1px solid red;

}
img + ul {

	list-style-type: none;

}

section img {

	border-radius: 50%;

}

h4 ~ p {

	position: relative;
	left: 500px;

}

section > ul {

	letter-spacing: 10px;

}


